.DS_Store
NOTICE-GENERATED.md
clearlydefined.input
**/dependency_decisions.yml

# Python related
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache

# NodeJS related
node_modules
build
*egg-info*
.coverage
results
